In [2]:
i = 3 #Integer
print(i)
print(type(i))

3
<class 'int'>

In [3]:
j = 3.3 #Float
print(j)
print(type(j))

3.3
<class 'float'>

In [5]:
s = 'Hari' #String
print(s)
print(type(s))

Hari
<class 'str'>

In [6]:
i = 3 
j = 4
k = i<j  #Boolean
print(k)
print(type(k))

True
<class 'bool'>

In [13]:
m = 2+3j  #Complex Number
print(type(m))

<class 'complex'>

In [16]:
j = 3.3  #Conversion from float to INT
i = int(j)
print(type(i))
print(i)

<class 'int'>
3

In [17]:
j = 3  #Conversion from INT to String
i = str(j)
print(type(i))
print(i)

<class 'str'>
3

In [22]:
s = 'abc'
d = bool(s)
print (type(d))
print (d)

<class 'bool'>
True

In [24]:
str = "Hello World"
print (str[2:5])

llo

In [29]:
str = "Umbrella"
print(str.find('e'))
print(str.count('e'))

4
1

In [30]:
a = 5
b = 10
c = a!=b
print(c)

True

In [44]:
t = ("John", "Peter", "Vicky")

x = "#".join(t)
print(x)

y = '-'.join(t)
print(y)

<class 'tuple'>
John#Peter#Vicky
John-Peter-Vicky

In [64]:
s = ["Welcome", "to" ,"Python", "Class"]

s.sort()
s

['Class', 'Python', 'Welcome', 'to']

In [54]:
s = "Welcome to INDIA. india is awesome."
t = s.lower()
t.count('india')

2